/***Globales***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #020024, #090979, #00d4ff);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3{
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

/***Utilidades***/
.contenedor{
    max-width: 1000px;
    margin: 0 auto;
}

.separacion{
    margin-right: 10px;
}

.boton{
    display: block;
    border-style: none;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
}

.animacion{
    transition: background-color 0.5s, color 0.5s, font-size 0.5s;
}

/***Barra de navegación***/
.encabezado{
    background-color: #FFFFFF;
}

/*Barra*/
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

/*Parte 1 de barra*/
.barra__navegacion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 80%;
}

.logo:first-child{
    color: blue;
    font-size: large;
    flex: 1;
}

.logo:hover{
    color: #000;
}

.logo--texto{
    color: #000;
}

.logo--texto:hover{
    color: blue;
}

.menu{
    font-weight: bold;
    flex: 3.5;
}

.menu__enlace:hover,
.usuario__enlace:hover{
    color: blue;
}

/*Parte 2 de barra*/
.barra__usuario{
    flex: 0 0 20%;
    font-weight: bold;
    text-align: end;
}

.barra__usuario--registro{
    padding: 12px;
    border: 2px solid #00d4ff;
    border-radius: 50px 50px 50px 50px;
}

.barra__usuario--registro:hover{
    color: #FFFFFF;
    background-color: #00d4ff;
}

/***Contenido principal***/

/*Formulario*/
.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 90vh;
}

.contenido{
    color: #FFFFFF;
}

.contenido__texto,
.contenido__texto--titulo{
    margin-bottom: 20px;
}  

.contenido__texto--parrafo{
    font-size: 18px;
}

.contenido__texto--parrafo p{
    margin-bottom: 20px;
}

.contenido--boton{
    display: inline-block;
    background-color: #000000;
}

.contenido--boton:last-child:hover{
    color: #000000;
    background-color: #00d4ff;
    font-size: 18px;
}

.contenido--boton:hover{
    background-color: rgb(17, 17, 17);
}

/*Formulario*/
.registro{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
}

.registro__heading{
    color: blue;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.registro__seccion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.registro__seccion--news{
    margin-top: 40px;
}

.registro__titulo{
    flex: 1;
    font-weight: bold;
}

.registro__campo{
    flex: 5;
    padding: 7px;
    border-style: none;
    border: 0.5px solid #000000;
    border-radius: 5px 5px 5px 5px;
}

.registro--genero{
    display: flex;
    justify-content: flex-start;
    border-style: none;
    gap: 25px;
}

.registro__campo--checkbox{
    flex: 0;
    order: -1;
}

.registro--boton{
    background-color: blue;
    margin: 40px auto 0 auto;
}
.registro--boton:hover{
    background-color: rgb(70, 70, 252);
}

/***Tabla***/
.principal--tabla{
    justify-content: center;
}

.tabla{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px 15px 15px 15px;
}


.tabla__contenido,
th,
td{
    border: 1px solid #000000; 
}

.tabla__titulo{
    color: blue;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.tabla__contenido--seleccion{
    font-weight: bold;
}








